body{
	background-color: $background
}
.main-wrapper{
	width: 960px;
    margin: 0 auto;
    
    p{
    	color:black;
    }

}
header{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	div{
		width: 30%}
	 
	nav{
           color: $navColor;
           border-bottom: 1px solid black; 
		   border-top: 1px solid black;
		   padding: 20px;
		   margin-bottom: 20px;
		a{
			margin-left: 30px;
			padding: 50px;
			text-decoration: none;
			font-weight: bold;
			 text-transform: uppercase;
			   color:$navColor;
	
	}
	
}
}
.toolbar{
	width: 150px;
  display: relative; 
  margin:20px 0px 30px 780px;
	color:$navColor;
  input{
  	border:1px solid $navColor;

}}
#list{
	color:$listColor;


	display: inline-flex;
   flex-wrap: wrap;
    justify-content: space-between;}
img{
	width: 100%;
}
article{
	width: 48%;
	height: 100%;
	padding: 5px;
	margin-bottom: 10px;
	background-color:$articleBg;
	h3{
		text-transform: uppercase;
		border-top: 1px solid black;

	}
}
#about h1{
	color:$navColor;
display: flex; 
justify-content: flex-end;	
}
#contact{h1,h4{
	color:$navColor;
	display: flex; 
	justify-content: flex-end;
	}}
	input,textarea{
		margin-top: 10px;
		width: 100%;
		padding: 15px;
		background-color: $background;
	};
	button{
		background-color: $navColor;
		color:$button;
		width: 150px;
	
  display: relative; 
  margin:20px 0px 30px 850px;}
	footer{
		color:black;
	}